<div class="jumbotron">
    <h1 class="display-4">About this site</h1>
    <br>
    <p>
        With this site, you can study words with friends.<br>
        The words are categorized, and admin users can make new categories and words.<br>
        Users can see the results in their pages,<br>
        and also users can follow other learners and see their progress.<br>
        We hope you can learn and get more.<br>
    </p>
    <br>
    <h2>Where there is a will, there's a way.</h2>
</div>