
<%# if current_user.admin? && !(current_user == user) %>
     <%#= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
<%# end %>
<div class="container">
    <div class="row">
        <div class="card-body">
            <div class="row text-center">
                <div class="col-xl-8 offset-xl-2">
                    <div class="card"></div>
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0"><i class="fa fa-plus" style="padding-right: 5px;"></i>&nbsp;Add New Lesson</h5>
                        </div>
                        <div class="card-body">
                            <form class="new_category" id="new_category" action="/categories" accept-charset="UTF-8" method="post">
                            <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="UNTTvnd3EDssj0THCvFNiLNumRDpn2/gD7y9Y/d0eHRZXD3wUZLtuNM90f0wdefg4t0EDNQJJ539eoClzHKmGA==">
                            <div class="row">
                                <div class="col" style="padding-bottom: 5px;">
                                    <input placeholder="Lesson Title" style="min-width: 300px" type="text" name="category[title]" id="category_title">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="padding-bottom: 5px;">
                                    <textarea placeholder="Lesson Description" style="min-width: 300px" name="category[description]" id="category_description"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 offset-xl-0" style="padding-bottom: 5px;">
                                    <a class="btn btn-outline-danger" style="margin-right: 15px;" href="/categories">Cancel</a>
                                    <input type="submit" name="commit" value="Submit" class="btn btn-outline-success" style="margin-left: 15px;" data-disable-with="Submit">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</div>