<% provide(:title, "Edit Profile") %>

<div class="container d-flex flex-fill flex-column">
    <div class="row py-4">
        <div class="col-12 col-md-6 text-center text-md-left"><h1>Admin | Categories</h1></div>
        <div class="col-12 col-md-6 align-self-center">
            <div class="d-flex justify-content-center justify-content-md-end">
                <%= link_to "Add word", new_admin_category_word_path(@category.id), class: 'btn btn-primary' %>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 30%;">Word</th>
                    <th style="width: 50%;">Answer</th>
                    <th style="width: 20%;">Action</th>
                </tr>
            </thead>
            <% @words.each do |word| %>
                <tbody>
                    <tr>
                        <td><%= word.word %></td>
                        <td></td>
                        <td>
                            <%= link_to 'edit', edit_admin_category_word_path(@category.id, word.id), class: 'btn btn-primary' %>
                            <%= link_to 'delete', admin_category_word_path(@category.id, word.id), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %>
                        </td>
                    </tr>
                </tbody>
            <% end %>
        </table>
    </div>
</div>
